.forms-wrap {
    display: flex;
    background-color: #fff;
    border-radius: 30rpx;
    border: 3px solid #ff8c00;
    margin: 20rpx;
    padding: 10rpx 20rpx 20rpx 20rpx;
    overflow: hidden;
}

.input {
    border: none;
    height: 90rpx;
}

.input-wrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.input-label {
    flex: none;
    margin-left: 10rpx;
    margin-right: 30rpx;
}

.input-label::after {
    content: "*";
    color: #e10012;
    font-weight: 700;
    font-size: 32rpx;
}

.form-submit {
    margin-top: 20rpx;
    background-image: linear-gradient(to bottom, #ffd272, #ff6706);
    font-weight: bold;
    line-height: 2.2;
    letter-spacing: 5rpx;
    border-radius: 55rpx;
    font-size: 50rpx;
}

.agr-wrap {
    font-size: 12px;
    margin-top: 10px;
    color: #ccc;
    line-height: 1.6;
}

.ks-switch--checkbox {
    -webkit-appearance: none;
    outline: 0;
    margin: 0;
    margin-right: 5px;
    border: 1px solid #d1d1d1;
    background-color: #ccc;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    position: relative;
    vertical-align: text-top;
}

.ks-switch--checkbox-container {
    vertical-align: text-bottom
}

.ks-switch--checkbox[checked]::before,
.ks-switch--checkbox:checked::before {
    font-size: 14px;
}

.agr-title {
    color: #999;
}

.agr-text-wrap {
    padding: 20rpx;
    width: 86vw;
    color: #666;
}